.main {
    align-items: center;
    text-align: center;

}

.mainPage {
    background-color: #E1DAD6;
    font-family: "Helvetica";
    font-weight: 700;
    font-size: 40%;
    font-style: italic;
    text-align: center;
    height: 70vh;
}